[submodule "ceph"]
	path = ceph
	url = https://github.com/aquarist-labs/ceph.git
[submodule "charts"]
	path = charts
	url = https://github.com/aquarist-labs/s3gw-charts
[submodule "ui"]
	path = ui
	url = https://github.com/aquarist-labs/s3gw-ui.git
[submodule "cosi-driver"]
	path = cosi-driver
	url = https://github.com/aquarist-labs/s3gw-cosi-driver.git
[submodule "cosi-sidecar"]
	path = cosi-sidecar
	url = https://github.com/kubernetes-sigs/container-object-storage-interface-provisioner-sidecar.git
